<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ghcorps</title>

  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/css/jquery.fullPage.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="http://maps.googleapis.com/maps/api/js?AIzaSyAjSXaZCpTB9xp1UlpfM9rDEEK6jE6B23U"></script>

  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <img id="ghcorps" src="/images/global.png">
  <div class="dropdownlist">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span id="catName">Choose a category</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% for(var i=0; i<supplies.length; i++) { %>
        <li>
          <a href="#">
            <%= supplies[i]._id %>
          </a>
        </li>
        <% } %>
    </ul>
  </div>
  <!-- Profile -->
  <div id="profileInfo">
    <img class="block profilePic" src="/images/Louise.jpg" alt="Profile">
  </div>
  <!-- Profile -->
  <div id="fullpage">
    <div class="section" id="first">
      <div id="map-canvas"></div>
    </div>
    <div class="section ">
      <!-- Static navbar -->
      <nav class="navbar navbar-custom ">
        <div class="container-fluid ">
          <div class="navbar-header ">
            <button type="button " class="navbar-toggle collapsed " data-toggle="collapse " data-target="#navbar " aria-expanded="false " aria-controls="navbar ">
              <span class="sr-only ">Toggle navigation</span>
              <span class="icon-bar "></span>
              <span class="icon-bar "></span>
              <span class="icon-bar "></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="#" aria-controls="luiz" role="tab" data-toggle="tab">Hello, Luis</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right " id="centerPlease">
              <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
              <li role="presentation"><a href="#newsfeed" aria-controls="profile" role="tab" data-toggle="tab">News Feed</a></li>
              <li role="presentation"><a href="#team" aria-controls="messages" role="tab" data-toggle="tab">Team</a></li>
              <li role="presentation"><a href="#jobposting" aria-controls="settings" role="tab" data-toggle="tab">Job Posting</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#" aria-controls="logout" role="tab" data-toggle="tab" id="logout">Log Out</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>
    </div>
  </div>
  <!-- Tab panes -->
  <div class="section">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div id="virus">
          <p id="virusName"></p>
          <p id="virusLocation"></p>
          <button type="button" class="btn btn-success" id="subscribe">Subscribe</button>
          <div id="virusDescription"></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="newsfeed">
        <div class="medium">
          <script async src="https://static.medium.com/embed.js"></script>
          <a data-width="5000px" class="m-story" href="https://medium.com/amplify/support-groups-build-trust-among-hiv-positive-pregnant-women-and-mothers-3c0356a0c9d6">Support Groups Build Trust among HIV-Positive Pregnant Women and Mothers</a>
          <a class="m-story" data-width="5000px" href="https://medium.com/amplify/i-think-life-just-gets-better-cj-shellack-5589de91e64">I Think Life Just Gets Better: CJ Schellack</a>
          <a class="m-story" data-width="5000px" href="https://medium.com/amplify/fail-f-a-i-l-hezekiah-hez-shobiye-72a50f91ff36">Fail. F-A-I-L: Hezekiah “Hez” Shobiye</a>
        </div>

      </div>
      <!-- JOB POSTING BITCHESS -->
      <div role="tabpanel" class="tab-pane" id="jobposting">
        <div class="container">
          <% for(var i=0; i<jobs.length; i++) { %>
            <div class="row" style="border-bottom:1px solid #29a468">
              <div class="col-md-3">
                <h1 href="#">
                <%= jobs[i].JobTitle %>
              </h1>
                <h2 href="#">
                <%= jobs[i].EligibleCitizenship %>
              </h2>
                <h3 href="#">
                <%= jobs[i].Location %>
              </h3>
                <h3 href="#">
                <%= jobs[i].Location %>
              </h3>
                <h3 href="#">
                <%= jobs[i].JobFunction %>
              </h3>
                <h3 href="#">
                <%= jobs[i].IssueArea %>
              </h3>
              </div>
              <div class="col-md-2" style="text-align: center;padding-top:20px">
                <a class="btn btn-success" id="apply" href="mailto:applyinfo@ghcorps.org">Apply</a>
              </div>
              <div class="col-md-7">
                <h4 href="#">
                <%= jobs[i].About %>
              </h4>
              </div>
            </div>
            <% } %>
        </div>
      </div>
      <!--  ENDDDD JOB POSTING BITCHESS -->
      <div role="tabpanel" class="tab-pane" id="team">
        <div class="our-fellow">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <!-- Widget by WYSIWYG Widgets v2.3.5 - https://wordpress.org/plugins/wysiwyg-widgets/ -->
                <h3>Our Fellows</h3>
                <div class="jcarousel-wrapper">

                  <!-- Carousel -->
                  <div class="jcarousel" data-jcarousel="true">
                    <ul style="left: -690px; top: 0px;">
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/molly-brune"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Molly-Brune.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Molly">
                            <h4>Molly Brune</h4></a>
                          <p>Our communities shape who we are and who we become, and everything...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/molly-brune">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/john-lichenya"><img height="152" width="180" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/07/John-Lichenyaa.jpg&amp;h=152&amp;w=&amp;zc=1" alt="John">
                            <h4>John Lichenya</h4></a>
                          <p>The community is important because I work with and on their behalf...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/john-lichenya">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/catherine-amulen"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Catherine-Amulen-cropped.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Catherine">
                            <h4>Catherine Amulen</h4></a>
                          <p>Community is important to me because its the first beneficiary of...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/catherine-amulen">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/ann-duong"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Ann-Duong.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Ann">
                            <h4>Ann Duong</h4></a>
                          <p>Access to quality health care and treatment should be a human right...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/ann-duong">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/connor-schultz"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Connor-Schultz.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Connor">
                            <h4>Connor Schultz</h4></a>
                          <p>Everyday I am motivated by the potential to enact change. We cannot...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/connor-schultz">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/lucky-gondwe"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Lucky-Gondwe-cropped.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Lucky">
                            <h4>Lucky Gondwe</h4></a>
                          <p>What motivates me is the prospect of growing to a new level of understanding...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/lucky-gondwe">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/lorraine-poncet"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Lorraine-Poncet.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Lorraine">
                            <h4>Lorraine Poncet</h4></a>
                          <p>Individuals and the community are so intricate that when I work for...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/lorraine-poncet">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/ruth-kugumikiriza"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Ruth-Kugumikiriza.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Ruth">
                            <h4>Ruth Kugumikiriza</h4></a>
                          <p>I am motivated when I see that the results of my effort or work in...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/ruth-kugumikiriza">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/jenala-nyangu"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Jenala-Nyanhu-cropped.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Jenala">
                            <h4>Jenala Nyangu</h4></a>
                          <p>I am motivated knowing that change begins with me, being an achiever,...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/jenala-nyangu">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/effie-ann-forson"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Effie-Ann-Forson.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Effie-Ann">
                            <h4>Effie-Ann Forson</h4></a>
                          <p>The absence of systematic health injustice, which allows for the attainment...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/effie-ann-forson">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/james-cauthen"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/James-Cauthen.jpg&amp;h=152&amp;w=&amp;zc=1" alt="James">
                            <h4>James Cauthen</h4></a>
                          <p>I am motivated by a desire to help people in a way that empowers them...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/james-cauthen">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/jaimee-swift"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Jaimee-Swift.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Jaimee">
                            <h4>Jaimee Swift</h4></a>
                          <p>I am a Global Health Corps fellow because I desire to serve, learn...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/jaimee-swift">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/emily-ausubel"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Emily-Ausubel-cropped.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Emily">
                            <h4>Emily Ausubel</h4></a>
                          <p>I want to be surrounded by people who have similar priorities but...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/emily-ausubel">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/mzondi-ziba"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Mzondi-Ziba-cropped.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Mzondi">
                            <h4>Mzondi Ziba</h4></a>
                          <p>To me, health equity means promoting the realization of citizen's...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/mzondi-ziba">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                      <li>
                        <div class="our_fellow_ct">
                          <a href="http://ghcorps.org/author/imran-nadaph"><img height="152" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/themes/ghcorps/timthumb.php?src=/wp-content/uploads//2015/06/Imran-Nadaph.jpg&amp;h=152&amp;w=&amp;zc=1" alt="Imran">
                            <h4>Imran Nadaph</h4></a>
                          <p>Equity means justice. Health equity to me is the principle that motivates...</p>
                        </div>
                        <div class="read-more"><a href="http://ghcorps.org/author/imran-nadaph">View More <i class="fa fa-chevron-right"></i></a> </div>
                      </li>
                    </ul>
                  </div>
                  <!-- Prev/next controls -->
                  <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹ Prev</a>
                  <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">Next ›</a>
                </div>
                <!-- / WYSIWYG Widgets -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="love">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;at IDHack 2016.</div>
  <!-- jQuery -->
  <script src="/bootstrap/js/jquery.js "></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/bootstrap/js/bootstrap.min.js "></script>
  <link rel="stylesheet" type="text/css" href="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/plugins/wp_placement/admin/js/jcarousel.skeleton.css">
  <script type="text/javascript" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/plugins/wp_placement/admin/js/jquery.jcarousel.min.js"></script>
  <script type="text/javascript" src="http://jflg440t31r1reow2ng5wrda.wpengine.netdna-cdn.com/wp-content/plugins/wp_placement/admin/js/jcarousel.skeleton.js"></script>
  <script src="/javascripts/maps.js "></script>
  <script src="/javascripts/main.js "></script>
</body>

</html>
